body {
    background-color: #000;
    color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-thumb img {
    width: 700px; /* Normal state */
    height: 700px; /* Normal state */
    transition: transform 0.3s;
}

.image-thumb:hover img {
    transform: scale(1.1);
    width: 705px; /* Adjust the width as needed for the hover state */
    height: 705px; /* Adjust the height as needed for the hover state */
}

.image-slideshow {
    display: none;
}

.image-slideshow img {
    max-width: 100%;
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #d79ec5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
}

button {
    background-color: #7e1378;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #9c0969;
}
